{% extends 'mangaku/layout.html' %}
{% block content %}
{% include 'mangaku/navbar.html' %}

<div class="all">
    <div class="rowfixed"></div>
    <div class="left_row">
        <div class="left_row_profile">
            <img id="portada" src="{{ user.profile.fondo.url }}" />
            <div class="left_row_profile">
                <img id="profile_pic" src="{{ user.profile.image.url }}" />
                <span>{{ user.first_name }} {{ user.last_name }}<br>@{{ user }}<br><p> {{ user.profile.followers.count }} Seguidores / {{ user.profile.following.count }} Seguidos</p></span>
            </div>
        </div>
        <div class="rowmenu">
            <ul>
                <li><a href="{% url 'home' %}" ><i class="fa fa-globe"></i>Inicio</a></li>
                <li><a href="{% url 'profile' user %}" id="rowmenu-selected"><i class="fa fa-user"></i>Perfil</a></li>
                <li><a href="#" ><i class="fa fa-users"></i>Grupos</a></li>
                <li><a href="friends.html"><i class="fa fa-comments-o"></i>Mensajes</a></li>
                <li><a href="{% url 'editar' %}"><i class="fa fa-tasks"></i>Editar perfil</a></li>
                <li><a href="friends.html"><i class="fa fa-cogs"></i>Configuracion</a></li>
            </ul>
        </div>
    </div>



    <div class="right_row">
        <div class="row border-radius">
            <div class="feed">
                <div class="feed_title">
                    <span><a href="{% url 'profile' user %}" ><b>Perfil</b></a> | <a href="{% url 'about' user %}" id="select_profile_menu"><b>Acerca de mi</b></a> | <a href="{% url 'fotos' user %}"><b>Fotos</b></a></span>
                </div>
            </div>
        </div>

        <div class="row border-radius">
            <div class="settings shadow">
                <div class="settings_title">
                    <h3>Personal Info</h3>
                </div>
                <div class="settings_content">
                    <style type="text/css">
                        .settings_content ul li p {padding:5px;padding-left: 20px}
                    </style>
                    <ul>
                        <li>
                            <p>
                                <b>Acerca de mi:</b>
                                <br>
                                {{ user.profile.bio }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Fecha de nacimiento:</b>
                                <br>
                                
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Pais:</b>
                                <br>
                                {{ user.profile.country }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Vive en:</b>
                                <br>
                                
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Ocupacion:</b>
                                <br>
                                {{ user.profile.profession }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Cuando se unio:</b>
                                <br>
                                {{ user.date_joined }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Genero:</b>
                                <br>
                                {{ user.profile.gender }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Estado civil:</b>
                                <br>
                               
                            </p>
                        </li>
                        <li>
                        <li>
                            <p>
                                <b>Sitio Web:</b>
                                <br>
                                
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Numero de Celular:</b>
                                <br>
                                {{ user.profile.phone_number }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
        

    </div>

    <div class="suggestions_row">
        

        <div class="row shadow">
            <div class="row_title">
                <span>Ultimas fotos</span>
                <a href="#">see all..</a>
            </div>
            <div class="row_contain_profilephotos">
                <ul>
                    <li><a href="{{ user.profile.image.url }}"><img src="{{ user.profile.image.url }}" alt="Foto de perfil"></a></li>
                    <li><a href="{{ user.profile.fondo.url }}"><img src="{{ user.profile.fondo.url }}" alt="Foto de fondo"></a></li>
                </ul>
            </div>
        </div>

{% endblock content %}