{% extends 'mangaku/layout.html' %}
{% block content %}
{% load humanize %}
{% include 'mangaku/navbar.html' %}

<div class="all">

    <div class="rowfixed"></div>
    <div class="left_row">
        <div class="left_row_profile">
            <img id="portada" src="{{ request.user.profile.fondo.url }}" />
            <div class="left_row_profile">
                <img id="profile_pic" src="{{ request.user.profile.image.url }}" />
                <span>{{ request.user.first_name }}<br><p> {{ request.user.profile.followers.count }} followers  /  {{ request.user.profile.following.count }} follow</p></span>
            </div>
        </div>
        <div class="rowmenu">
            <ul>
                <li><a href="{% url 'home' %}" id="rowmenu-selected"><i class="fa fa-globe"></i>Inicio</a></li>
                <li><a href="{% url 'profile' user %}"><i class="fa fa-user"></i>Perfil</a></li>
                <li><a href="#" ><i class="fa fa-users"></i>Grupos</a></li>
                <li><a href="friends.html"><i class="fa fa-comments-o"></i>Mensajes</a></li>
                <li><a href="{% url 'editar' %}"><i class="fa fa-tasks"></i>Editar perfil</a></li>
                <li><a href="friends.html"><i class="fa fa-cogs"></i>Configuracion</a></li>
            </ul>
        </div>
    </div>



    <div class="right_row">

        <div class="row border-radius">
            <div class="feed">
                <div class="feed_title">
                    <img src="{{ post.user.profile.image.url }}" alt="" />
                    <a href="{% url 'profile' post.user %}"><span><b>{{ post.user.first_name }} {{ post.user.last_name }}</b><p>{{ post.timestamp|naturaltime }}</p></span></a>
                </div>
                <div class="feed_content">
                    <div class="feed_content_image">
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                <div class="feed_footer">
                    <ul class="feed_footer_left">
                        <li class="hover-orange selected-orange">
                            <a id="like-form" href="{% url 'like_post' post.id %}">
                                {% if request.user in post.likes.all %}
                                    <i class="fa fa-heart"></i> 
                                {% else %}
                                    <i class="fa fa-heart-o"></i> 
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <span>A <b>{{ post.total_likes }}</b> personas les gusta esto</span>
                        </li>
                    </ul>
                    <ul class="feed_footer_right">
                        {% if request.user == post.user %}
                            <li><a href="{% url 'delete' post.id %}" style="color:#515365;"><i class="fa fa-trash-o"></i></a></li>
                        {% endif %}
                        {% if post.user != request.user %}
                            <li class="hover-orange"><i class="fa fa-gift"></i></li>
                        {% endif %}
                        {% if post.id == post_id %}
                            <li class="hover-orange"><i class="fa fa-comments-o"></i></li>
                        {% endif %}
                        <li class="hover-orange "><i class="fa fa-share"></i></li>
                    </ul>
                </div>
                <div class="feedcomments">
                    <ul>
                        <li>
                            <div class="feedcomments-user">
                                <img src="{{ request.user.profile.image.url }}" />
                                <span><b><textarea placeholder="Escribe un comentario" name="" id="" cols="60" rows="2.5"></textarea></b></span>
                            </div>
                            <div class="feedcomments-comment">
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    
    </div>
    
    
    <div class="suggestions_row">
        <div class="row shadow">
            <div class="row_title">
                <span>Mangakus sugeridos</span>
                <a href="friends.html">Mostrar Mas</a>
            </div>
            <div class="row_contain">
                <img src="{{ user.profile.image.url }}" alt="" />
                <span><b>@{{ user.first_name }}</b><br></span>
                <button>Seguir</button>
            </div>
        </div>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
    
  
{% endblock %}