{% extends 'mangaku/layout.html' %}
{% block content %}
{% include 'mangaku/navbar.html'   %}

<div class="all">

    <div class="rowfixed"></div>
    <div class="left_row">
        <div class="left_row_profile">
            <img id="portada" src="{{ request.user.profile.fondo.url }}" />
            <div class="left_row_profile">
                <img id="profile_pic" src="{{ request.user.profile.image.url }}" />
                <span>{{ request.user.first_name }} {{ request.user.last_name }}<br><p> {{ request.user.profile.followers.count }} Seguidores  /  {{ request.user.profile.following.count }} Seguidos</p></span>
            </div>
        </div>
        <div class="rowmenu">
            <ul>
                <li><a href="{% url 'home' %}"><i class="fa fa-globe"></i>Inicio</a></li>
                <li><a href="{% url 'profile' user %}"><i class="fa fa-user"></i>Perfil</a></li>
                <li><a href="#" ><i class="fa fa-users"></i>Grupos</a></li>
                <li><a href="{% url 'chat' user %}"><i class="fa fa-comments-o"></i>Mensajes</a></li>
                <li><a href="{% url 'editar' %}" id="rowmenu-selected"><i class="fa fa-tasks"></i>Editar perfil</a></li>
                <li><a href="friends.html"><i class="fa fa-cogs"></i>Configuracion</a></li>
            </ul>
        </div>
    </div>


    <div class="right_row">

        <div class="row border-radius">
            <center><div class="settings shadow">
                <div class="settings_title">
                    <h3>Editar informacion Personal</h3>
                </div>
                <div class="settings_content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="pi-input pi-input-lg">
                            <span>Nombre</span>
                            {{ u_form.first_name }}
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Apellidos</span>
                            {{ u_form.last_name }}
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Ocupacion o Profesion</span>
                                {{ p_form.profession }}
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Usuario</span>
                            {{ u_form.username }}
                            
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Foto de portada</span>
                            {{ p_form.fondo }}
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Foto de perfil</span>
                            {{ p_form.image }}
                            
                        </div>
                        <div class="pi-input pi-input-md">
                            <span>Pais</span>
                            {{ p_form.country }} 
                        </div>
                        <div class="pi-input pi-input-md">
                            <span>Your State / Province</span>
                            <select>
                                <option selected>California</option>
                                <option>Texas</option>
                            </select>
                        </div>
                        <div class="pi-input pi-input-md">
                            <span>ciudad</span>
                            <select>
                                <option selected>San Francisco</option>
                                <option>New York</option>
                            </select>
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Genero</span>
                            <select name="gender">
                                <option selected>{{ p_form.gender.value }}</option>
                                <option >Hombre</option>
                                <option>Mujer</option>
                            </select>
                        </div>
                        <div class="pi-input pi-input-lg">
                            <span>Numero de celular</span>
                            {{ p_form.phone_number }}
                        </div>
                        <div class="pi-input pi-input-lgg">
                            <span>Sobre mi</span>
                            <input type="text" name="bio" value=" {{ p_form.bio.value }} " />
                        </div>
                        <button>Guardar cambios</button>
                    </form>
                </div>
            </div></center>
        </div>
    </div>


    <div class="suggestions_row">
        <div class="row shadow">
            <div class="row_title">
                <span>Configuraciones de perfil</span>
            </div>
            <div class="menusetting_contain">
                <ul>
                    <li>
                        <a href="Personal-Information.html" id="settings-select">Informacion personal</a>
                    </li>
                    <li>
                        <a href="settings.html">Confiduracion de cuenta</a>
                    </li>
                    <li>
                        <a href="Change_Password.html">Cambiar contraseña</a>
                    </li>
                </ul>
            </div>
        </div>


 
    </div>
        

    </div>



{% endblock content %}