{% load humanize %}
{% load static %}

{% for post in posts %}
<div class="row border-radius">
    <div class="feed">
        <div class="feed_title">
            <img src="{{ post.user.profile.image.url }}" alt="" />
            <a href="{% url 'profile' post.user %}"><span><b>{{ post.user.first_name }} {{ post.user.last_name }}
                {% if post.user.profile.verificado %}
                <i class="fa fa-check-circle"></i>
            {% endif %}

            </b>
            @{{ post.user.username }}
            <p>{{ post.timestamp|naturaltime }}</p></span></a>
        </div>

        <a href="{% url 'comentarios' post.user.username post.id %}">
        <div class="feed_content">
            <div class="feed_content_image">
                <p>{{ post.content }}</p>
                {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="{{ post.user.profile.username }}">
                {% endif %}
            </div>
        </div>
        </a>
        
        <div class="feed_footer">
            <ul class="feed_footer_left">
                <li class="hover-orange">
                    <a id="like-form" href="{% url 'like_post' post.id %}">
                        {% if request.user in post.likes.all %}
                            <i class="fa fa-heart"></i> 
                        {% else %}
                            <i class="fa fa-heart-o"></i> 
                        {% endif %}
                    </a>
                </li>
                <li>
                    <span>A <b>{{ post.total_likes }}</b> Le Gusta</span>
                </li>
                <li class="hover-orange">
                    <a id="like-form" href="{% url 'dislike_post' post.id %}">
                        {% if request.user in post.dislikes.all %}
                            <i class="fa fa-thumbs-down"></i> 
                        {% else %}
                            <i class="fa fa-thumbs-o-down"></i> 
                        {% endif %}
                    </a>
                </li>
                <li>
                    <span>A <b>{{ post.total_dislikes }}</b> Le Disgusta</span>
                </li>
            </ul>
            <ul class="feed_footer_right">
                {% if request.user ==  post.user %}
                    <a href="{% url 'delete' post.id %}" style="color:#515365;"><li class="hover-orange"><i class="fa fa-trash"></i></li></a></li>
                {% else %}
                    
                {% endif %}
                {% if post.user == request.user %}
                <!-- No mostrar el elemento si el post fue publicado por el mismo usuario -->
                {% else %}
                <li class="hover-orange"><i class="fa fa-gift"></i></li>
                {% endif %}
                <a href="{% url 'comentarios' post.user.username post.id %}" style="color:#515365;">
                    <li class="hover-orange"><i class="fa fa-comment"></i></li>
                </a>

                <a href=""><li class="hover-orange "><i class="fa fa-share"></i></li></a>
                
            </ul>
        </div>
        <div class="feedcomments">
            <ul>
                <li>
                    <div class="feedcomments-user">
                        <img src="{{ request.user.profile.image.url }}" />
                        <form method="post" action="{% url 'comentarios' user.username post.id %}">
                            {% csrf_token %}
                            <span><b><textarea placeholder="Escribe un comentario" name="content" id="" cols="60" rows="2.5"></textarea></b></span>
                            <button class="hover-orange" type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <div class="feedcomments-comment">
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endfor %}
