{% extends 'mangaku/layout.html' %}
{% load static %}
{% block content %}
{% include 'mangaku/navbar.html'   %}

<div class="all">

    <div class="rowfixed"></div>
    <div class="left_row">
        <div class="left_row_profile">
            <img id="portada" src="{{ request.user.profile.fondo.url }}" />
            <div class="left_row_profile">
                <img id="profile_pic" src="{{ request.user.profile.image.url }}" />
                <span>{{ request.user.first_name }} {{ request.user.last_name }}
                    {% if user.profile.verificado %}
                    <i class="fa fa-check-circle"></i>
                    {% endif %}
                    <br> @{{ user }}<p> {{ request.user.profile.followers.count }} followers  /  {{ request.user.profile.following.count }} follow</p></span>
            </div>
        </div>
        <div class="rowmenu">
            <ul>
                <li><a href="{% url 'home' %}" ><i class="fa fa-globe"></i>Inicio</a></li>
                <li><a href="{% url 'profile' user %}"><i class="fa fa-user"></i>Perfil</a></li>
                <li><a href="#" ><i class="fa fa-users"></i>Grupos</a></li>
                <li><a href="{% url 'chat' user %}"><i class="fa fa-comments-o"></i>Mensajes</a></li>
                <li><a href="{% url 'editar' %}"><i class="fa fa-tasks"></i>Editar perfil</a></li>
                <li><a href="friends.html"><i class="fa fa-cogs"></i>Configuracion</a></li>
            </ul>
        </div>
    </div>



<div class="right_row" style="width:80%;">
  <div class="row border-radius">
      <div class="friend">
        {% for profile in profiles %}
        <a href="{% url 'profile' profile.user %}">
            <div class="friend_title">
                <img src="{{ profile.image.url }}" alt="{{ profile.username }}" />
                <span><b>{{ profile.user.first_name }} {{ profile.user.last_name }}</b>
                    {% if profile.verificado %}
                    <i class="fa fa-check-circle"></i>
                    {% endif %}
                    <br>@{{ profile.user.username }}<p> Amigos en común</p></span>
                
                <button class="add-friend">seguir</button>
            </div>
        </a>
      {% endfor %}
         

      </div>
  </div>

  <center>
      <a href=""><div class="loadmorefeed">
          <i class="fa fa-ellipsis-h"></i>
      </div></a>
  </center>


</div>


{% endblock content %}