<div class="row shadow">
    <div class="suggestions_row">
        <div class="row shadow">

                
            </div>
        </div>
    </div>
    
    <div class="row_title">
        <span>Mangakus sugeridos</span>
        <a href="{% url 'ejemplo'%}">Mostrar mas</a>
    </div>
    {% for usuario in usuarios_al_azar %}
    <div class="row_contain">
        <img src="{{ usuario.profile.image.url }}" alt="" />
        <span><b>@{{ usuario.first_name }}</b><br></span>
        <button>+</button>
    </div>
    {% endfor %}
</div>

<script></script>